{% if site_header %}
    {{ site_header.content }}
{% else %}
    <header class="site-header">
        <div class="site-header__container">
            <a href="/"><img src="" alt="" /></a>
            <img src="" alt="" />
            <a href="{{ site.url }}">{{ site.name }}</a>
        </div>
    </header>
{% endif %}
    