<header class="site-header">
    <div class="site-header__container">
        {% if site_header %}
            {{ site_header['content'] }}
        {% else %}
            {# Default to the Default #}
            <a href="/"><img src="" alt=""/></a>
            <img src="" alt="" />
            <a href="{{ site.url }}">{{ site.name }}</a>
        {% endif %}
    </div>
</header>