<header class="site-header" data-gtm="Site Header">
    <div class="site-header__container">
        <a href="/"><img src="" alt="" /></a>
        <img src="" alt="" />
        <a href="{{ site.url }}">{{ site.name }}</a>
    </div>
</header>