<!DOCTYPE html>
<html {{ site.language_attributes }}>
{% block head %}
    {% include 'partials/head.twig' %}
{% endblock %}

<body class="{{ body_class }}">
{{ function('wp_body_open') }}
{% block skitp_to_content %}
    {% include 'elements/skip-to-content.twig' %}
{% endblock %}
{% block site_header %}
    {% include 'partials/site-header.twig' %}
{% endblock %}
<div class="wrap" role="document">
    <main id="main">
        <div class="wrapper">
            {% block content %}
                Sorry, no content
            {% endblock %}
        </div>
    </main>
</div>

{% block site_footer %}
    {% include 'partials/site-footer.twig' %}
{% endblock %}
{{ function('wp_footer') }}
{% do action('get_footer') %}
</body>
</html>
