.site-header--overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
}

.site-header--sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    animation-name: slide-down;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

body.has-sticky-header {
    padding-top: var(--dynamic__header-height);
}