/**
 * Content Slider - Frontend Styles
 *
 * Base styles for the content slider. Splide's core styles are loaded
 * via the kadence-blocks-splide dependency.
 */

.sc-content-slider {
    position: relative;
    width: 100%;
}

.sc-content-slider .splide__slide {
    display: flex;
    flex-direction: column;
}

/* Ensure inner block content fills the slide */
.sc-content-slider .splide__slide > * {
    flex: 1;
    height: 100%;
}

/* Equal height slides - all slides match the tallest */
.sc-content-slider.has-equal-height-slides .splide__list {
    align-items: stretch;
}

.sc-content-slider.has-equal-height-slides .splide__slide {
    height: auto;
}

.sc-content-slider.has-equal-height-slides .splide__slide > .wp-block-kadence-column,
.sc-content-slider.has-equal-height-slides .splide__slide > .wp-block-kadence-column > .kt-inside-inner-col,
.sc-content-slider.has-equal-height-slides .splide__slide > .wp-block-kadence-column > .kt-inside-inner-col > * {
    height: 100%;
}
