{% extends 'layouts/base.twig' %}
{% block content %}
    <h1>404 - Page Not Found</h1>
    <p>Sorry, we couldn't find what you're looking for. It might have been removed, renamed, or did not exist in the first place.</p>
    <a href="{{ site.url }}">Return to Homepage</a>
{% endblock %}
