{% extends 'layouts/base.twig' %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
            <article {{ function('post_class', post) }}>
                <header>
                    <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
                </header>
                <div>
                    {{ post.excerpt }}
                </div>
            </article>
        {% endfor %}

        {% include 'partials/pagination.twig' with {
            pagination: posts.pagination({
                show_all: false,
                mid_size: 3,
                end_size: 2
            })
        } %}
    {% else %}
        <section>
            <h2>Sorry, no results were found</h2>
        </section>
    {% endif %}
{% endblock %}
