{% extends 'layouts/base.twig' %}

{% block content %}
    <div>
        <section>
            {% for post in posts %}
                <div {{ function('post_class', post) }}>
                    <header>
                        <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
                    </header>
                    <div>
                        {{ post.excerpt }}
                    </div>
                </div>
            {% endfor %}
        </section>

        {% include 'partials/pagination.twig' with {
            pagination: posts.pagination({
                show_all: false,
                mid_size: 3,
                end_size: 2
            })
        } %}
    </div>
{% endblock %}
