{% extends 'layouts/base.twig' %}

{% block content %}
    <div>
        <article class="{{ function('post_class') }}" id="post-{{ post.id }}">
            <header>
                <h1>{{ post.title }}</h1>
            </header>
            <div>
                {{ post.content }}
            </div>
        </article>
    </div>
{% endblock %}
