.kt-row-column-wrap {
    --global-row-gutter-md: var(--wp--custom--grid-gutter-spacing);
}

/* Front End, inside column */
:where(.kt-inside-inner-col > *),
/* Preview, inside column, handles different preview structure  */
:where(.kadence-inner-column-inner > *:not(.kadence-column)),
:where(.kadence-inner-column-inner > .kadence-column > .kadence-inner-column-inner),
/* Global, inside tab, handles different preview structure */
:where(.kt-tab-inner-content-inner > *:not(.kadence-column)),
:where(.kt-tab-inner-content-inner > .kadence-column > .kadence-inner-column-inner) {
    margin-block-start: var(--wp--custom--content-spacing);
    margin-block-end: 0;

    &:first-child {
        margin-block-start: 0;
    }
}

.wp-block-kadence-column.kb-has-row-gap-lg > .kt-inside-inner-col > *,
.kadence-inner-column-inner.kb-has-row-gap-lg > * {
    margin-block-start: 0;
}

@media (max-width: 1024px) {
    .wp-block-kadence-column.kb-has-row-gap-md > .kt-inside-inner-col > *,
    .kadence-inner-column-inner.kb-has-row-gap-md > * {
        margin-block-start: 0;
    }
}

@media (max-width: 767px) {
    .wp-block-kadence-column.kb-has-row-gap-sm > .kt-inside-inner-col > *,
    .kadence-inner-column-inner.kb-has-row-gap-sm > * {
        margin-block-start: 0;
    }
}

.kadence-font-size-control .kadence-radio-container-control.components-button-group .components-button {
    min-width: unset;
}
